<div class="page">
  <div class="page-content">
    <h2 class="page-header">{{country}}</h2>
    <div class="page-image" style="background-image: url(7.jpg)"></div>
    <div class="page-text">
      <a href="https://www.google.com">
        <h4 class="passport-city-country">{{city}}, {{country}}</h4>
        <h5 class="passport-blog-title">{{title}}</h5>
        <h6 class="passport-trip-date">{{start_day}} - {{end_day}}</h6>
      </a>
    </div>
    <button type="button" class="btn btn-primary addBlogBtn" data-tripId={{trip_id}}>Add Blog</button>
    <div class="page-footer">{{trip_id+1}}</div>
  </div>
</div>