<div class="page">
  <div class="page-content">
    <h2 class="page-header">{{country}}</h2>
    <div class="page-image" style="background-image: url(7.jpg)"></div>
    <div class="page-text">
      <a href="https://www.google.com">
        <h4>{{city}}, {{country}}</h4>
        <h5>{{title}}</h5>
        <h6>{{start_day}} - {{end_day}}</h6>
      </a>
    </div>
    <div class="page-footer">{{trip_id+1}}</div>
  </div>
</div>