
<main>
  <div class="wrapper">
    <div class="container">
      <div class="flip-book" id="demoBookExample">
        <div class="page page-cover page-cover-top" data-density="hard">
          <div class="page-content">
            <h2 id="passport-name">{{first_name}}'S PASSPORT</h2>
            {{!-- <img id="cover-image" src="images/jamies_profile.jpg" /> --}}
          </div>
        </div>
          <div class="page">
          <div class="page-content">
            <h2 class="page-header">About Me</h2>
            <div id="passport-picture-container">
              <img id="passport-picture" src={{profile_picture}} />
            </div>
            <div class="page-text">
              <section id="passport-block">
                <img id="user-profile-picture" />
                <ul id="user-information">
                  <li class="profile-info" id="user-name">Name: {{first_name}}</li>
                      <li class="profile-info" id="user-email">Email: {{email}}</li>
                      <li class="profile-info" id="user-username">
                        Username: {{username}}
                      </li>
                      <li class="profile-info" id="user-birthday">
                        Birthday: {{birthday}}
                      </li>
                      <li class="profile-info" id="user-nationality">
                        Nationality: {{nationality}}
                      </li>
                      <li class="profile-info" id="user-location">
                        Currently in: {{current_location}}
                      </li>
                </ul>
              </section>
            </div>
            <div class="page-footer">1</div>
          </div>
        </div>
        <!-- PAGES .... -->
        {{#if trips.length}}
        {{#each trips as | trip | }}
        {{> page}}
        {{/each}}
        {{/if}}
        <div class="page page-cover page-cover-bottom" data-density="hard">
          <div class="page-content">
            <h2>THE END</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/page-flip@0.4.3/dist/js/page-flip.browser.min.js"></script>
<script src="js/passport.js"></script>
{{!-- <script src="js/renderBlog.js"></script> --}}